<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>communicationTokenFetchUrl</key>
	<string>https://acs-token-auth.azurewebsites.net/api/Auth?code=ECCHapGpOGo7KLqwsCrHZt9z5W7mKYEeCgFVnJjPxltPl1faCmfaNw==</string>
	<key>isAADAuthEnabled</key>
	<true/>
	<key>aadClientId</key>
	<string></string>
	<key>aadTenantId</key>
	<string></string>
	<key>aadRedirectURI</key>
	<string></string>
	<key>aadScopes</key>
	<array/>
</dict>
</plist>
